# Include file extensions or specific file paths that should not be added
# to the tracked repository. 
# Omit files with a specific extension with "*.<ext>"
# Omit specific files with "/path/to/file.txt"

.venv
__pycache__
*.pickle